<p>Hello, <%= userName %>!</p>
<p><%= sender %> replied to your comment on <%= projectName %>.</p>
<p><a href="<%= signInURL %>">Sign in</a> to your account to see what's up.</p>
Regards,<br />
<%= projectName %> Team
