<p>Hello, <%= userName %>!</p>
<p>You have been invited to participate in the <%= projectName %>.
<p>Please use the following <a href="<%= registrationLink %>">link to create an accout</a>.</p>

<p>In case the link does not work you can access the registration page by typing <%= registrationPage %> into your browser's address bar. The follwing invitation code has been reserved for your usage: <%= inviteCode %>.</p>

Regards,<br />
<%= projectName %> Team
